$super_fast: .3s;
$faster: .5s;
$fast: .7s;
$normal: 1s;
$slow: 1.5s;
$slower: 2s;
$super_slow: 3s;

.fade_up {
  transition: 1s all linear;
  animation: fade_up $slower ease-in-out forwards;
}
.fade {
  span:nth-child(1) {
    animation: fade $faster ease-in-out forwards .3s;
  }
  span:nth-child(2) {
    animation: fade $faster ease-in-out forwards .7s;
  }
  span:nth-child(3) {
    animation: fade $faster ease-in-out forwards 1s;
  }
  span:nth-child(4) {
    animation: fade $faster ease-in-out forwards;
  }
  span:nth-child(5) {
    animation: fade $faster ease-in-out forwards .5s;
  }
  span:nth-child(6) {
    animation: fade $faster ease-in-out forwards 1.2s;
  }
}

.bg {
  background-color: rgb(19, 48, 97);
}

@keyframes fade_up {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes body {
  45% {
    background-color: #fff;
  }
  52% {
    background-color: rgb(19, 48, 97);
  }
  100% {
    background-color: rgb(19, 48, 97);
  }
}

@keyframes cube {
  0% { 
    // transform: scale(1);
    // transform: rotateX(360deg) rotateZ(45deg) rotateY(-45deg);
  }

  100% {
    transform: translateY(0px) rotateX(180deg) rotateZ(180deg) rotateY(-540deg);
  }
}

@keyframes scrollbar {
  to {
    height: 100vh;
    background-color: #fff;
  }
}