@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flex_column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
@mixin scroll__animate {
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}